In [1]:
import pandas as pd
import time

In [2]:
#PM 2.5 Dataset
PMdata=pd.read_excel(r"D:\Aadesh\MSC\Trimester3\ML_Project\Data\2018-Emissions-Pune-MIT.xlsx")
PMdata.sort_values(["LAT","LONG"], axis = 0, ascending = [True,True],inplace = True, na_position ='first')

In [3]:
#Trees dataset
Treesdata=pd.read_csv(r"C:\Users\Administrator\Desktop\Aadesh\ML Program\MLProject\Data\trees_all_clean1.csv")

C:\Users\Administrator\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
Treesdata.sort_values(["latitude","longitude"], axis = 0, ascending = [True,True],inplace = True, na_position ='first')

In [5]:
#Columns in the PM 2.5 dataset
PMdata.columns

Index(['LONG', 'LAT', 'GRID ID', 'PM25_POW', 'PM25_TRN', 'PM25_IND',
       'PM25_RES', 'PM25_OTH', 'PM25_WB'],
      dtype='object')

In [6]:
#shape of PM 2.5 dataset
PMdata.shape

(12412, 9)

In [7]:
#Columns in the trees dataset
Treesdata.columns

Index(['id', 'sr_no', 'girth_cm', 'height_m', 'canopy_dia_m', 'condition',
       'other_remarks', 'ownership', 'society_name', 'road_name', 'latitude',
       'longitude', 'balanced', 'remarks', 'special_collar', 'ward_name',
       'botanical_name', 'saar_uid', 'common_name', 'local_name', 'economic_i',
       'phenology', 'flowering', 'ward', 'is_rare'],
      dtype='object')

In [8]:
#shape of tree dataset
Treesdata.shape

(3216823, 25)

In [9]:
#PM 2.5 dataset head
PMdata.head()

,LONG,LAT,GRID ID,PM25_POW,PM25_TRN,PM25_IND,PM25_RES,PM25_OTH,PM25_WB
0,73.55845,18.311418,100000,0,0.0,0.0,0.125716,0.0,0.0
1,73.56345,18.311418,100001,0,0.0,0.0,0.125716,0.0,0.0
2,73.56845,18.311418,100002,0,0.0,0.0,0.125716,0.0,0.0
3,73.57345,18.311418,100003,0,0.0,0.0,0.110002,0.0,0.0
4,73.57845,18.311418,100004,0,0.0,0.0,0.101540,0.0,0.0

In [10]:
#Trees data head
Treesdata.head()

,id,sr_no,girth_cm,height_m,canopy_dia_m,condition,other_remarks,ownership,society_name,road_name,...,ward_name,botanical_name,saar_uid,common_name,local_name,economic_i,phenology,flowering,ward,is_rare
2880993,6579839,NaN,15,4,2,Healthy,NaN,Government,"yewalelw,i foreres aria",yewalewadi raod,...,76,Gliricidia sepium (Jacq.) Walp.,1343278,Giripushpa,Giripushpa,Firewood,Seasonal,March-June,76,False
2880746,6579591,NaN,20,4,3,Healthy,NaN,Government,"yewalelw,i foreres aria",yewalewadi raod,...,76,Gliricidia sepium (Jacq.) Walp.,1343226,Giripushpa,Giripushpa,Firewood,Seasonal,March-June,76,False
2842269,6541193,NaN,28,4,2,Healthy,NaN,Government,Yevalewadi forest earia,Yevlewadi Road,...,76,Gliricidia sepium (Jacq.) Walp.,1385171,Giripushpa,Giripushpa,Firewood,Seasonal,March-June,76,False
2893225,6592071,NaN,25,4,2,Healthy,NaN,Government,Yevalewadi forest earia,Yevlewadi Road,...,76,Gliricidia sepium (Jacq.) Walp.,1385170,Giripushpa,Giripushpa,Firewood,Seasonal,March-June,76,False
2880980,6579826,NaN,34,6,4,Healthy,NaN,Government,"yewalelw,i foreres aria",yewalewadi raod,...,76,Gliricidia sepium (Jacq.) Walp.,1343184,Giripushpa,Giripushpa,Firewood,Seasonal,March-June,76,False

In [11]:
#To calculate total PM 2.5 in a grid
PM_25=PMdata[['PM25_IND','PM25_OTH','PM25_POW','PM25_RES','PM25_TRN','PM25_WB']].sum(axis=1)
#concatinate total pm 2.5 datafarme with other columns
PMdata = pd.concat([PMdata, PM_25], axis=1, sort=False)
#rename total pm 2.5 column as PM
PMdata.rename(columns={0:"PM"},inplace=True)
PMdata['Trees']=0
PMdata.head()

,LONG,LAT,GRID ID,PM25_POW,PM25_TRN,PM25_IND,PM25_RES,PM25_OTH,PM25_WB,PM,Trees
0,73.55845,18.311418,100000,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0
1,73.56345,18.311418,100001,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0
2,73.56845,18.311418,100002,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0
3,73.57345,18.311418,100003,0,0.0,0.0,0.110002,0.0,0.0,0.110002,0
4,73.57845,18.311418,100004,0,0.0,0.0,0.101540,0.0,0.0,0.101540,0

In [12]:
PMdata['LATL']=0
PMdata['LATR']=0
PMdata['LONGL']=0
PMdata['LONGR']=0
for i in range(len(PMdata)):
    #By observation we can see each grid is o.oo5 unit apart from other.
    #Thus we consider a given point as the center of the grid.
    w=PMdata.loc[i,'LAT']-0.0025 #left 0.0025 from center
    PMdata.loc[i,"LATL"]=w
    x=PMdata.loc[i,'LAT']+0.0025 #right 0.0025 from center
    PMdata.loc[i,"LATR"]=x
    y=PMdata.loc[i,"LONG"]-0.0025 #up 0.0025 from center
    PMdata.loc[i,"LONGL"]=y
    z=PMdata.loc[i,"LONG"]+0.0025 #below 0.0025 from center
    PMdata.loc[i,"LONGR"]=z

In [13]:
PMdata.drop('LONG',axis=1,inplace=True)

In [14]:
PMdata.drop('LAT',axis=1,inplace=True)

In [15]:
PMdata.head()

,GRID ID,PM25_POW,PM25_TRN,PM25_IND,PM25_RES,PM25_OTH,PM25_WB,PM,Trees,LATL,LATR,LONGL,LONGR
0,100000,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0,18.308918,18.313918,73.55595,73.56095
1,100001,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0,18.308918,18.313918,73.56095,73.56595
2,100002,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0,18.308918,18.313918,73.56595,73.57095
3,100003,0,0.0,0.0,0.110002,0.0,0.0,0.110002,0,18.308918,18.313918,73.57095,73.57595
4,100004,0,0.0,0.0,0.101540,0.0,0.0,0.101540,0,18.308918,18.313918,73.57595,73.58095

In [16]:
Treepart1=Treesdata.iloc[:10000,10:12]
#Treepart1=Treesdata.iloc[:733,10:12]

In [17]:
Treepart1.shape

(10000, 2)

In [18]:
Treepart1.head()

          latitude  longitude
2880993  18.428925  73.879452
2880746  18.428936  73.879469
2842269  18.428936  73.879293
2893225  18.428937  73.879282
2880980  18.428940  73.879325

In [19]:
#df=Treesdata[['latitude','longitude']]

In [20]:
start = time.process_time()
latid=0
for i in Treepart1.index:
    count=0
    a=Treepart1.loc[i,'latitude'] #latitude of a tree
    b=Treepart1.loc[i,'longitude']#longitude of a tree
    for j in range(latid,len(PMdata)):
        if(PMdata.loc[j,'LATL']<=a<=PMdata.loc[j,'LATR']):
            if(PMdata.loc[j,'LONGL']<=b<=PMdata.loc[j,'LONGR']): #it will check if
                PMdata.loc[j,"Trees"]=PMdata.loc[j,"Trees"]+1 #if above condition satisfies it append tree column of that row as +1
                latid=j
                break #it will break the loop if condition satisfies
print(time.process_time() - start)

838.078125

In [21]:
PMdata.head()

,GRID ID,PM25_POW,PM25_TRN,PM25_IND,PM25_RES,PM25_OTH,PM25_WB,PM,Trees,LATL,LATR,LONGL,LONGR
0,100000,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0,18.308918,18.313918,73.55595,73.56095
1,100001,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0,18.308918,18.313918,73.56095,73.56595
2,100002,0,0.0,0.0,0.125716,0.0,0.0,0.125716,0,18.308918,18.313918,73.56595,73.57095
3,100003,0,0.0,0.0,0.110002,0.0,0.0,0.110002,0,18.308918,18.313918,73.57095,73.57595
4,100004,0,0.0,0.0,0.101540,0.0,0.0,0.101540,0,18.308918,18.313918,73.57595,73.58095

In [22]:
PMdata.Trees.unique()

array([   0, 1092, 1211,   17,   79], dtype=int64)

In [23]:
#PMdata.to_csv(r'C:\Users\Administrator\Desktop\file2.csv')

In [24]:
PMdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12412 entries, 0 to 12411
Data columns (total 13 columns):
GRID ID     12412 non-null int64
PM25_POW    12412 non-null int64
PM25_TRN    12412 non-null float64
PM25_IND    12412 non-null float64
PM25_RES    12412 non-null float64
PM25_OTH    12412 non-null float64
PM25_WB     12412 non-null float64
PM          12412 non-null float64
Trees       12412 non-null int64
LATL        12412 non-null float64
LATR        12412 non-null float64
LONGL       12412 non-null float64
LONGR       12412 non-null float64
dtypes: float64(10), int64(3)
memory usage: 1.6 MB